*, p{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-form-item-label {
  text-align: left;
  min-width: 200px;
}

.group-card {
  width: 260px;
  min-width: 250px;
  height: 214px;
}

.group-card .group-tags {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card {
  min-width: 280px;
  cursor: default;
}

.word-break {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.text-align-right {
  text-align: right;
}

.ant-form label, .ant-card-body span {
  font-size: 16px;
  font-family: Roboto, Tahoma;
}

.header {
  background-color: #c4c4c4;
  height: 60px;
}

.userName {
  margin-left: 10px;
}

.header .menu-btn {
  display: none;
}

.header .profile {
  display: block;
}

.ant-dropdown-menu-item {
  cursor: default;
}

.unhover:hover {
  background-color: #fff;
}

.danger-menu-item:hover {
  background-color: #ffdcef;
}

.main-group-info {
  width: 248px;
}

.group-member-list {
  width: 280px;
  margin-left: -16px;
}

.md-offset-16px {
  margin-left: -16px;
}

.xs-text-align-left {
  text-align: right;
}

.plan-file-btn {
  text-align: left;
}

.users-content {
  margin-top: 0;
}

.groups-content {
  margin-top: 0;
}

.groups-content .cards-holder {
  grid-gap: 12px;
}

.filter-btn {
  display: none;
}

.filter-btn .ant-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-btn .ant-card-body {
  padding: 0;
}

.sanction-btn {
  text-align: right;
}

#xs-filter {
  display: none;
}

#xs-filter .ant-card-body {
  width: 100%;
  padding: 24px;
}

#lg-filter {
  display: block;
}

@media screen and (min-width: 1200px) {
  .user-card-profile-btn {
    display: block;
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  .sm-row-center {
    text-align: center;
    margin-left: 0;
  }

  .user-card-profile-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 14px;
  }
}

@media screen and (max-width: 991px){
  .md-center-container .lg-center-container-item {
    margin-bottom: 40px;
  }

  .md-center-container > .group-btn, .lg-center-container-item > .group-btn {
    width: 100% !important;
  }

  .md-cards-holder-center {
    justify-content: center;
  }

  .header .menu-btn {
    display: block;
  }

  .header .profile {
    display: none;
  }

  .plan-file-btn {
    text-align: center;
  }

  .lg-margin-right-0 {
    margin-right: 0 !important;
  }

  .user-card-profile-btn {
    display: block;
    margin-top: 0;
  }

  .users-content {
    margin-top: 40px;
  }

  .groups-content {
    margin-top: 40px;
  }

  .groups-content .cards-holder {
    justify-content: center;
  }

  .filter-btn {
    display: block;
  }

  #xs-filter {
    display: none;
  }

  #lg-filter {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .header .search {
    display: none;
  }

  .md-center-container, .lg-center-container-item, .md-center-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .md-offset-16px {
    margin-left: 0;
  }

  .main-group-info {
    width: 100%;
  }

  .group-member-list {
    width: calc(100% + 32px);
  }

  .md-margin-bottom-14 {
    margin-bottom: 14px;
  }

  .sanction-btn {
    text-align: center;
    margin-top: 16px;
  }
}

@media screen and (max-width: 576px) {
  .header .userName {
    display: none;
    margin-left: 0;
  }

  .form .ant-row {
    margin-right: 10px;
    margin-left: 10px;
  }

  .xs-groups-tabs {
    width: 98%;
  }

  .xs-text-align-left {
    text-align: left;
  }

  .xs-margin-bottom-14 {
    margin-bottom: 14px;
  }
}

.group-card > .ant-card-body a, .user-link {
  color: #757575;
}

.group-card > .ant-card-body a:hover, .user-link:hover {
  color: #40a9ff;
}

.without-border-bottom .ant-card-head{
  border-bottom: none;
}

a:focus {
  text-decoration: none;
}

.unassembled-groups-list .ant-card-head, .assembled-groups-list  .ant-card-head{
  padding-left: 24px;
  padding-right: 24px;
}

.unassembled-groups-list  .ant-card-body, .assembled-groups-list  .ant-card-body {
  padding-left: 24px;
  padding-right: 24px;
}

.unassembled-groups-list > .ant-card-head, .assembled-groups-list > .ant-card-head{
  padding: 0;
}

.unassembled-groups-list > .ant-card-body, .assembled-groups-list > .ant-card-body {
  padding-left: 0;
  padding-right: 0;
}

.header-font-size-20 .ant-card-head-title {
  font-size: 20px;
}



.member-container {
  border-radius: 4px;
  overflow: auto;
  padding: 8px 16px;
  height: 400px;
}

.chatroom p {
  margin: 0;
}

.chatroom {
  width: 100%;
  height: 560px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px -2px;
}

.chatroom .header {
  background-color: #fff;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.36);
}

.chatroom .chat {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 0;
  height: 480px;
  overflow-y: scroll;
}

.chatroom .chat .message {
  background-color: #fff;
  position: relative;
  padding: 5px 13px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 92%;
  word-wrap: break-word;
}

.chatroom .chat .message.right {
  float: right;
  clear: both;
}

.menu-item {
  cursor: pointer;
}


.notify-tabs .ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}

.notify-card:hover, .user-card:hover {
  z-index: 100;
}

.readed-btn {
  border: 10px solid transparent;
  border-left: 10px solid #eeeeee;
  border-top: 10px solid #eeeeee;
  position: absolute;
  top: 0px;
  left: 0px;
  /*cursor: pointer;*/
}

.not-readed-btn {
  border: 10px solid transparent;
  border-left: 10px solid #1890ff;
  border-top: 10px solid #1890ff;
  position: absolute;
  top: 0px;
  left: 0px;
  /*cursor: pointer;*/
}

.search-option-item .search-user-link {
  color: inherit;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}

.ant-upload-list {
  margin-bottom: 10px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.cards-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 29px;
  align-items: center;
  justify-content: left;
}

.cards-holder:before {
  content: none;
}

.cards-holder-center {
  justify-content: center;
}

.admin-list .ant-list-footer{
  padding: 0;
}

.admin-list .ant-list-item{
  padding-left: 16px;
  padding-right: 16px;
}

.admin-list .ant-list-item-meta-content {
  min-width: 110%;
}

.event-list-container {
  max-height: 800px;
  overflow: auto;
}



.event-list .ant-list-item{
  padding-left: 20px;
  padding-right: 20px;
}

.event-list .ant-list-item-meta-description {
  text-align: right;
}

.ant-list-item{
  word-break: break-word;
}


